<h2 class="au-u-text-center">This is {{this.model.givenName}} {{this.model.familyName}}</h2>
<ul>
{{#each this.model.isAangesteldAls as |mandat|}}
<li>Mandatrissen : <a href="{{mandat.uri}}">{{mandat.uri}}</a></li>
{{/each}}
</ul>
<div>
{{!-- <LinkTo @route="person" @model={{this.model}}>Back</LinkTo> --}}
</div>